# Basic Site Settings
locale: "China"
site_theme: "default"

title: "Ridong Zhang"
title_separator: "-"
name: &name "Ridong Zhang"
description: &description "Research on interpretability and reliability of large language models"

url: "https://euaroto.github.io"
baseurl: "/ridongz.github.io"
repository: "euaroto/ridongz.github.io"


# Author (Sidebar)
author:
  avatar: "profile.png"
  name: "Ridong Zhang"
  bio: "LLM Interpretability & Reliability"
  location: ""
  employer: ""
  email: ""

  # Academic profiles
  googlescholar:
  arxiv:
  orcid:
  semantic:
  researchgate:

  # Code
  github: "euaroto"


# Publication Categories
publication_category:
  manuscripts:
    title: "Journal Articles"
  conferences:
    title: "Conference Papers"


# Site Settings
breadcrumbs: false
words_per_minute: 160
future: true
read_more: "disabled"
talkmap_link: false

atom_feed:
  hide: false


# Analytics (disabled)
analytics:
  provider: "false"


# Reading Files
include:
  - _pages
  - files

exclude:
  - .github
  - node_modules
  - vendor
  - Gemfile
  - Gemfile.lock
  - README
  - LICENSE

encoding: "utf-8"
markdown_ext: "md"


# Markdown / Conversion
markdown: kramdown
highlighter: rouge
excerpt_separator: "\n\n"
incremental: false

kramdown:
  input: GFM
  auto_ids: true
  toc_levels: 1..6


# Collections
collections:
  publications:
    output: true
    permalink: /publications/:path/
  talks:
    output: true
    permalink: /talks/:path/


# Defaults
defaults:
  - scope:
      path: ""
      type: pages
    values:
      layout: single
      author_profile: true

  - scope:
      path: ""
      type: publications
    values:
      layout: single
      author_profile: true

  - scope:
      path: ""
      type: talks
    values:
      layout: talk
      author_profile: true


# Sass
sass:
  sass_dir: _sass
  style: compressed


# Output
permalink: /:categories/:title/
timezone: Etc/UTC


# Plugins (GitHub Pages safe)
plugins:
  - jekyll-feed
  - jekyll-gist
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-redirect-from
  - jemoji

whitelist:
  - jekyll-feed
  - jekyll-gist
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-redirect-from
  - jemoji


# Archives
category_archive:
  type: liquid
  path: /categories/

tag_archive:
  type: liquid
  path: /tags/


# HTML Compression
compress_html:
  clippings: all
  ignore:
    envs: development
